.container {
    width: 100vw;
    height: 100vw;

    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.20fr 0.30fr 1fr 1fr 0.20fr;
  }

  .header {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color:#dce0e9;
  }

  .header2 {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color:#798292;
  }

.left-box {
  grid-row-start: 3;
  grid-row-end: span 2 ;
  background-color:#385795;
}

.right-box {
  grid-row-start: 3;
  grid-row-end: span 2;
  grid-column-start: 2;
  grid-column-end: 4;
  background-color: #4d586e;
}

.footer {
  grid-row-start: 5;
  grid-column-start:1 ;
  grid-column-end: span 3;
  background-color: #510811;
}