@import url("https://use.typekit.net/uof1adc.css");

.nav {
      list-style: none;
      display: flex;
      font-style: bold;
      justify-content: space-evenly;
      font-family: "Apolline";
    }

    .nav li {
      padding: 0px 5px;
    }

    .text-right {
      text-align: right;
      padding: 25px;
    }


    .header2 {
      border: 2px solid black;
      display: flex;
      justify-content: space-between;
      padding: 5px 5%;
      font-family: "Apolline";
      font-style: bold;
      font-size: 25px;
      text-decoration: none;
      margin-top: 10px;
      margin-left: 5px;
      margin-right: 5px;
      margin-bottom: 15px;

    }

    .footer {
      border: 2px solid black;
      display: flex;
      justify-content: space-between;
      padding: 5px 5%;
      font-family: "Apolline";
      font-style: bold;
      text-decoration: none;
    }

    .logo {
      float: left;
      width: 85%;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
      }

nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
} 
nav ul li a{
  color: #000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  letter-spacing: 1px;
}

nav .menu-btn i{
  color: #000;
  font-size: 22px;
  font-family:"Apolline";
  display: none;
} 

@media (max-width: 920px) {
  nav ul li a{
    color: #fff;
  }
  nav .menu-btn i{
    display: block;
  }
  
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
  }
  
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
  }
  
 
} 

.banner.content {
  margin-top: 60px;
  margin-bottom: 60px;
  
}
.banner-bg img{
  width: 70%;
  border: 2px solid #000;
}

.banner-bg {
  position: relative;
}
.text-box {
  position: absolute;
  bottom: 4%;
  background-color: #e5e0dd;
  width: 30%;
  padding: 30px;
  left: 17%;
  font-family: "Apolline";
  font-style: extrabold;
}
.text-box a {
  background-color: #000;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  font-family: "Apolline";
  font-style: bold;
}
.text-box h4 {
  margin-bottom: 30px;
}

.main-bg img {
  width: 100%;
  height: 100%;
  border: 2px solid #000;
  margin-bottom: 20px;
}
.main-bg {
  margin-bottom:30px;
  background-color: #d8d8d8;
  padding: 30px;
}
.main-bg-left-area, .main-bg-right-area {
  position: relative;
  height: 100%;
}
.main-bg-left-area::after, .main-bg-right-area::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-color: #00000087;
}
.main-bg-left-area .title {
  position: absolute;
  top: 50%;
  left: 10%;
  color: #fff;
  z-index: 1;
  font-size: 20px;
} 
.main-bg-right-area .title {
  position: absolute;
  top: 50%;
  left: 10%;
  color: #fff;
  z-index: 1;
  font-size: 20px;
}
.details-content {
  padding: 20px 10px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
}
.right-content p {
  padding: 0;
  margin: 0;
}
.right-content {
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 30px;
}
.right-content a {
  text-decoration: none;
}


.serviceimg img {
  margin-bottom: 20px;
}

.sidebyside img {
  width: 40%;
  border: 2px solid #000;
  margin-bottom: 20px;
  margin-left: 30px;
  margin right
}

.background {
  width: 1440px;
  height: auto;

  margin-bottom:30px;
  background-color: #d8d8d8;
  padding: 30px;
}
.centerleft{
  position: absolute;
  top: 50%;
  left: 20%;
  color: whitesmoke;
}


.centerright{
  position: absolute;
  top: 50%;
  right: 30%;
  color: whitesmoke;
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 2px solid black; 
  border-radius: 4px; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
}

input[type=submit] {
  background-color: royalblue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}





